@model IEnumerable<Photo1.Models.Photo>
@{
    ViewData["Title"] = "Gallery";
}

<p>
    <h1> The Gallery</h1>
</p>

<div class="container">
    <div class="row">
        <p>
            @foreach (var photo in Model)
            {
                <div class="col-sm-12 col-md-6 col-lg-4">     
                    <div class="gallery">
                        <a asp-controller="Home" asp-action="ViewDetails"
                           asp-route-id="@photo.PhotoId">
                            <div class="flex-row">
                                <div class="thumbnail">
                                    <img class="card-img-top" src="@photo.PhotoUrl" alt="@photo.Title" style="width:330px" />
                                </div>
                                <h4 style="color:black">
                                    @Html.DisplayFor(modelItem => photo.Title)
                                </h4>
                            </div>
                        </a>
                        <div class="caption">
                            <h5 class="pull-right">@photo.Price.ToString("c")</h5>
                        </div>
                    </div>
                        
                </div>
            }
        </p>
    </div>
</div>

