@model IEnumerable<Photo1.Models.Photo>
@{
    ViewData["Title"] = "Gallery";
}

<p>
    <h1> The Gallery</h1>
</p>

<div class="container">
    <div class="row">
        <p>
            @foreach (var photo in Model)
            {
                <div class="col-sm-12 col-md-6 col-lg-4">

                    <a asp-controller="Home" asp-action="ViewDetails"
                       asp-route-id="@photo.PhotoId">
                        <h3>
                            @Html.DisplayFor(modelItem => photo.Title)
                        </h3>
                        <div class="thumbnail">
                            <img src="@photo.PhotoUrl" alt="@photo.Title" class="img-responsive" style="width:330px" />
                        </div>
                    </a>

                    <div class="caption">
                        <h4 class="pull-right">@photo.ShortDescription</h4>
                    </div>

                </div>
            }
        </p>
    </div>
</div>

