@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}
<div style="padding-bottom:2%">
    <div>
        <h2>Your shopping cart</h2>
    </div>
    <div>
        <h4>Here are the photos in your shopping cart.</h4>
    </div>
</div>


<div class="row checkoutForm">
<table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-muted">Click thumbnail to return to details</th>
                <th>Photo</th>
                <th>Selected amount</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td>
                        <a asp-controller="Home" asp-action="ViewDetails"
                           asp-route-id="@line.CartPhoto.PhotoId">
                            <div class="thumbnail">
                                <img src="@line.CartPhoto.PhotoUrl" alt="@line.CartPhoto.Title" class="img-thumbnail" style="width:220px" />
                            </div>
                        </a>
                    </td>
                    <td class="text-left">@line.CartPhoto.Title</td>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-right">@line.CartPhoto.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Amount * line.CartPhoto.Price).ToString("c"))
                    </td>
                    <td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-photoId="@line.CartPhoto.PhotoId">Delete</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="pull-right">
        <div class="btn-group ">
            <a class="btn btn-info" asp-controller="Order" asp-action="CheckOut">Check out</a>
            <a class="btn btn-info" asp-controller="Home" asp-action="Gallery">Continue Shopping</a>
            <a class="btn btn-info" asp-controller="ShoppingCart" asp-action="ClearShoppingCart">Empty Cart</a>
        </div>
    </div>
</div>